.box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.box div {
  background-color: lightcoral;
  border: solid red 1px;
  width: 380px;
  height: 150px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

